.vacaciones section[role=main] {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
}

#scrollContainer {
	height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: scroll;
	padding-left: 120px;
}

.contentBox {
	display: -ms-grid;
	-ms-grid-rows: 270px 270px;
	-ms-grid-columns: 270px 270px 540px 120px; /* La última columna es sólo margen */
}

/* Esta truchada está para que tenga margen a la derecha, sino no me daba bola */
.contentBox:after {
	-ms-grid-column: 6;
	content: '';
	display: block;
}

.contentBox h4 {
	font-size: 14pt;
	font-weight: bold;
	text-align: right;
}

/* Layout */

#ninos {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

#adolescentes {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

#vacaciones {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

#docentes {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

#presentacion {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.wide {
	height: 250px;
	width: 520px;
	-ms-grid-column-span: 2;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr;
	-ms-grid-columns: 1fr 170px;
}

.wide .backgroundImage img {
	-ms-grid-column-span: 2;
	height: 250px;
	width: 520px;
}


.wide .wedge {
	-ms-grid-column: 2;
	display: -ms-grid;
	-ms-grid-columns: 1fr 120px;
}

.wide .wedge .diagonal {
	content: ' ';
	-ms-grid-column: 1;
	display: block;
	border-top: 250px solid transparent;
	border-right: 50px solid #ffbe00;
}

.wide .wedge h4 {
	-ms-grid-column: 2;
	padding: 210px 20px 0;
	height: 40px;
	width: 80px;
}

.square {
	height: 250px;
	width: 250px;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 50px;
}

.square .backgroundImage img {
	-ms-grid-row-span: 2;
	height: 250px;
	width: 250px;
}

.square .stripe {
	-ms-grid-row: 2;
	display: -ms-grid;
	-ms-grid-columns: 1fr 200px;
}

.square .stripe h4 {
	-ms-grid-column: 2;
	height: 30px;
	width: 180px;
	padding: 10px 20px 10px 0;
}

.square .stripe .diagonal {
	-ms-grid-column: 1;
	content: '';
	border-top: 50px solid transparent;
	border-right: 20px solid #ffbe00;
}

.bigSquare {
	height: 520px;
	width: 520px;
	-ms-grid-row-span: 2;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 100px;
}

.bigSquare .backgroundImage img {
	height: 520px;
	width: 520px;
}

.bigSquare .stripe {
	-ms-grid-row: 2;
	display: -ms-grid;
	-ms-grid-columns: 1fr 440px;
}

.bigSquare .stripe .diagonal {
	-ms-grid-column: 1;
	content: '';
	border-top: 100px solid transparent;
	border-right: 40px solid #ffbe00;
}

.bigSquare .stripe h4 {
	-ms-grid-column: 2;
	height: 30px;
	width: 400px;
	padding: 35px 20px;
}

.yellow h4 {
	color: #282b4a;
	background-color: #ffbe00;
}

@media screen and (-ms-view-state: snapped) {

	#scrollContainer {
		overflow-x: hidden;
		overflow-y: auto;
		-ms-overflow-style: scrollbar;
		padding-left: 40px;
	}

    .contentBox {
	    -ms-grid-rows: 100px 100px 100px 100px 100px;
	    -ms-grid-columns: 1fr;
    }

	.contentBox h4 {
		text-align: left;
	}

	/* Layout */

	#presentacion {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	#ninos {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	#adolescentes {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}

	#vacaciones {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}

	#docentes {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}

	.backgroundImage {
		display: none;
	}

	.square, .bigSquare, .wide {
		height: 70px;
		width: 220px;
		margin: 10px;
		padding: 0;
	}

	.wide {
		-ms-grid-column-span: 1;
		-ms-grid-columns: 1fr;
	}

	.wide .wedge {
		-ms-grid-column: 1;
		-ms-grid-columns: 1fr;
	}

	.wide .wedge .diagonal {
		display: none;
	}

	.wide .wedge h4 {
		-ms-grid-column: 1;
		padding: 20px;
		height: 30px;
		width: 180px;
	}

	.square {
		-ms-grid-rows: 1fr;
	}

	.square .stripe {
		-ms-grid-row: 1;
		-ms-grid-columns: 1fr;
	}

	.square .stripe h4 {
		-ms-grid-column: 1;
		padding: 20px;
		height: 30px;
		width: 180px;
	}

	.square .stripe .diagonal {
		display: none;
	}

	.bigSquare {
		-ms-grid-rowspan: 1;
		-ms-grid-rows: 1fr;
	}
	
	.bigSquare .stripe .diagonal {
		display: none;
	}

	.bigSquare .stripe h4 {
		-ms-grid-column: 1;
		padding: 20px;
		height: 30px;
		width: 180px;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
	#scrollContainer {
		padding-left: 100px;
	}
}