/* Layout */

.fragment.ninos .contentBox {
	display: -ms-grid;
	-ms-grid-rows: 270px 270px;
	-ms-grid-columns: 370px 710px 120px; /* La última columna es sólo margen */
}

.fragment.ninos #consejos {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
    width: 350px;
}

.fragment.ninos #vacaciones {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
    width: 350px;
}

.fragment.ninos .stripe {
    margin-left: 130px;
}

.fragment.ninos #presentacion {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

@media screen and (-ms-view-state: snapped) {

	/* Layout */
    
    .fragment.ninos #consejos {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.fragment.ninos #vacaciones {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
    
	.fragment.ninos #presentacion {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
	#scrollContainer {
		padding-left: 100px;
	}
}