body {
    background: #F1AF00 url('/images/fondo_home.jpg') repeat no-repeat;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#contenthost {
    height: 100%;
    width: 100%;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

.fragment header[role=banner] {
    /* Define a grid with columns for the back button and page title. */
    -ms-grid-columns: 37px 83px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    background-color: #E87F00;
}

.fragment.ninos header[role=banner],
body.ninos .fragment header[role=banner] {
    background-color: #C60D61;
}

.fragment.adolescentes header[role=banner],
body.adolescentes .fragment header[role=banner] {
    background-color: #576B9E;
}

.fragment.padres header[role=banner],
body.padres .fragment header[role=banner] {
    background-color: #84AA2E;
}

.fragment.docentes header[role=banner],
body.docentes .fragment header[role=banner] {
    background-color: #754987;
}

.naranja {
    background-color: #E87F00;
}
.rosa {
    background-color: #C60D61;
}
.azul {
    background-color: #576B9E;
}
.verde {
    background-color: #84AA2E;
}
.violeta {
    background-color: #754987;
}
.celeste {
    background-color: rgb(8, 159, 171);
}

.fragment header[role=banner] .win-navigation-backbutton {
    -ms-grid-column: 2;
    margin-top: 57px;
    position: relative;
    z-index: 1;
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
}

.fragment header[role=banner] .titlearea .pagehometitle {
    width: calc(100% - 20px);
}

.fragment header[role=banner] .titlearea .pagetitle {
    
}

.fragment header[role=banner] .titlearea .pagelogo {
    float: right;
    margin-right: 150px;
}

.fragment section[role=main] {
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
}

/* Tiles */
.wide {
	height: 250px;
	width: 520px;
	-ms-grid-column-span: 2;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr;
	-ms-grid-columns: 1fr 170px;
}

.wide .backgroundImage img {
	-ms-grid-column-span: 2;
	height: 250px;
	width: 520px;
}


.wide .wedge {
	-ms-grid-column: 2;
	display: -ms-grid;
	-ms-grid-columns: 1fr 120px;
}

.wide .wedge .diagonal {
	content: ' ';
	-ms-grid-column: 1;
	display: block;
	border-top: 250px solid transparent;
	border-right: 50px solid #ffbe00;
}

.wide .wedge h4 {
	-ms-grid-column: 2;
	padding: 210px 20px 0;
	height: 40px;
	width: 80px;
}

.square {
	height: 250px;
	width: 250px;
	margin: 10px;
	display: -ms-grid;
	-ms-grid-rows: 1fr 50px;
}

.square .backgroundImage img {
	-ms-grid-row-span: 2;
	height: 250px;
	width: 250px;
}

.square .stripe,
.midSquare .stripe {
	-ms-grid-row: 2;
	display: -ms-grid;
	-ms-grid-columns: 1fr 200px;
}

.square .stripe h4,
.midSquare .stripe h4 {
	-ms-grid-column: 2;
	height: 30px;
	width: 180px;
	padding: 10px 20px 10px 0;
}

.square .stripe .diagonal,
.midSquare .stripe .diagonal {
	-ms-grid-column: 1;
	content: '';
	border-top: 50px solid transparent;
}

.bigSquare {
    height: 360px;
    width: 520px;
    -ms-grid-row-span: 2;
    margin: 10px;
    display: -ms-grid;
    -ms-grid-rows: 1fr 100px;
}

.midSquare {
    height: 140px;
    width: 520px;
    -ms-grid-row-span: 2;
    margin: 10px;
    margin-top: 120px;
    display: -ms-grid;
    -ms-grid-rows: 1fr 100px;
}

.midSquare .stripe {
	-ms-grid-row: 2;
    margin-top: 50px;
	display: -ms-grid;
	-ms-grid-columns: 1fr 440px;
}

.midSquare .stripe h4 {
	-ms-grid-column: 2;
	height: 30px;
	width: 480px;
	padding: 10px 20px 10px 0;
}

.square .stripe h4, 
.midSquare .stripe h4 {
    color: #FFFFFF;
}

.square#ninos .stripe h4,
.square.rosa .stripe h4 {
	background-color: #DC1070;
}

.square#adolescentes .stripe h4,
.square.azul .stripe h4 {
	background-color: #657EBD;
}

.square#padres .stripe h4,
.square.verde .stripe h4 {
	background-color: #99C639;
}

.square#docentes .stripe h4,
.square.violeta .stripe h4 {
	background-color: #88579F;
}

.midSquare#quienes .stripe h4 {
	background-color: #02ACB8;
}

.square#ninos .stripe .diagonal,
.square.rosa .stripe .diagonal {
	border-right: 20px solid #DC1070;
}

.square#adolescentes .stripe .diagonal,
.square.azul .stripe .diagonal {
	border-right: 20px solid #657EBD;
}

.square#padres .stripe .diagonal,
.square.verde .stripe .diagonal {
	border-right: 20px solid #99C639;
}

.square#docentes .stripe .diagonal,
.square.violeta .stripe .diagonal {
	border-right: 20px solid #88579F;
}

.midSquare#quienes .stripe .diagonal,
.midSquare.celeste .stripe .diagonal {
	border-right: 20px solid #02ACB8;
}


@media screen and (-ms-view-state: snapped) {

	#scrollContainer {
		overflow-x: hidden;
		overflow-y: auto;
		-ms-overflow-style: scrollbar;
		padding-left: 40px;
	}

    .contentBox {
	    -ms-grid-rows: 100px 100px 100px 100px 100px;
	    -ms-grid-columns: 1fr;
    }

	.contentBox h4 {
		text-align: left;
	}
    
	.backgroundImage {
		display: none;
	}

	.square, .bigSquare, .wide {
		height: 70px;
		width: 220px;
		margin: 10px;
		padding: 0;
	}

	.wide {
		-ms-grid-column-span: 1;
		-ms-grid-columns: 1fr;
	}

	.wide .wedge {
		-ms-grid-column: 1;
		-ms-grid-columns: 1fr;
	}

	.wide .wedge .diagonal {
		display: none;
	}

	.wide .wedge h4 {
		-ms-grid-column: 1;
		padding: 20px;
		height: 30px;
		width: 180px;
	}

	.square {
		-ms-grid-rows: 1fr;
	}

	.square .stripe {
		-ms-grid-row: 1;
		-ms-grid-columns: 1fr;
	}

	.square .stripe h4 {
		-ms-grid-column: 1;
		padding: 20px;
		height: 30px;
		width: 180px;
	}

	.square .stripe .diagonal {
		display: none;
	}
}