/* Layout */

#amenazas {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

#consejos {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

#glosario {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

#guias {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

#actividades {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

@media screen and (-ms-view-state: snapped) {

	/* Layout */

	#amenazas {
	    -ms-grid-row: 1;
	    -ms-grid-column: 1;
    }

    #consejos {
	    -ms-grid-row: 2;
	    -ms-grid-column: 1;
    }

    #glosario {
	    -ms-grid-row: 3;
	    -ms-grid-column: 1;
    }

    #guias {
	    -ms-grid-row: 4;
	    -ms-grid-column: 1;
    }

    #actividades {
	    -ms-grid-row: 5;
	    -ms-grid-column: 1;
    }

}

@media screen and (-ms-view-state: fullscreen-portrait) {
	#scrollContainer {
		padding-left: 100px;
	}
}